/* jetbrains-mono-regular - latin */
/* @font-face { */
/*   font-family: 'JetBrains Mono'; */
/*   font-style: normal; */
/*   font-weight: 400; */
/*   src: local(''), */
/*        url('./fonts/jetbrains-mono-v6-latin-regular.woff2') format('woff2'), /\* Chrome 26+, Opera 23+, Firefox 39+ *\/ */
/*        url('./fonts/jetbrains-mono-v6-latin-regular.woff') format('woff'); /\* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ *\/ */
/* font-display:swap; */
/* } */
/* /\* jetbrains-mono-800 - latin *\/ */
/* @font-face { */
/*   font-family: 'JetBrains Mono'; */
/*   font-style: normal; */
/*   font-weight: 800; */
/*   src: local(''), */
/*        url('./fonts/jetbrains-mono-v6-latin-800.woff2') format('woff2'), /\* Chrome 26+, Opera 23+, Firefox 39+ *\/ */
/*        url('./fonts/jetbrains-mono-v6-latin-800.woff') format('woff'); /\* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ *\/ */
/*   font-display:swap; */
/* } */
/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./fonts/raleway-v22-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/raleway-v22-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
font-display:swap;
}
/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('./fonts/raleway-v22-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/raleway-v22-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
font-display:swap;
}
/* raleway-900 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('./fonts/raleway-v22-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/raleway-v22-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-italic - latin */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('./fonts/raleway-v22-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/raleway-v22-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-700italic - latin */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('./fonts/raleway-v22-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/raleway-v22-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
font-display:swap;
}
/* raleway-900italic - latin */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 900;
  src: local(''),
       url('./fonts/raleway-v22-latin-900italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/raleway-v22-latin-900italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
font-display:swap;
}
:root {
    --primary:#3c3836;
    --secondary:#504945;
    --tertiary:#a89984;
    --content:#3c3836;
    --hljs-bg:#98971a;
    --gap:1em;
    --main-width:*;
    --theme:#f9f5d7;
    --entry:#f9f5d7;
    --code-bg: #8ec07c;
    --headings:#504945;
    --content-gap:0.8em;
    --main-background:#ebdbb2;
}
.dark {
  --theme: #282828;
  --entry: #282828;
  --primary: #ebdbb2;
  /* --primary: #8ec07c; */
  --secondary: #d5c4a1;
  --tertiary: #fbf1c7;
  /* --code-bg: #8ec07c; */
  --code-bg: #427b58;
  --heading:#8ec07c;
  --main-background:#3c3836;
}
.post-content code {
    margin: auto 4px;
    padding: 4px 6px;
    font-size: .78em;
    line-height: 1.5;
    background: unset;
    border-radius: 6px;
    border-color: var(--code-bg);
    border-style: dashed;
}
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6
{
  color: var(--heading);
  margin-top: 2em;
}

h1.post-title{
  background-color:var(--code-bg);
  display:inline-block;
  padding:0.2em;
  border-radius:0.2em;
  border-style:dashed;
  /* margin-top:0.4em; */
}
.first-entry {
    min-height:0px;
}
.main {
    margin:1em;
    max-width: 45em;
}
.post-title,
h1,
.entry-header{
font-family: 'raleway','JetBrains Mono', monospace;
font-weight: 900;
}
body {
font-family: 'raleway','JetBrains Mono', monospace;
#font-weight: 400;
}
.nav {
    max-width:45em;
    margin-inline-start: var(--content-gap) ;

    margin-inline-end: unset;
}
.post-content p {
  line-height:2.0em;
}
.post-tags a, .share-buttons, .paginav{

  background: {}
}
.post-tags a, .share-buttons, .paginav {
  background-color:unset;
  border: 0.2em dashed var(--secondary)
}
.post-tags a:hover, .paginav a:hover{
  background:var(--code-bg)
}
.dark.list,.list{
  background:var(--main-background);
}
.post-tags a:hover, .paginav a:hover{
  
  background:var(--code-bg);
}
.list:not(.dark)::-webkit-scrollbar-thumb{
  /* background:var(--main-background); */
  border: 0.0em solid var(--main-backround)
}
.list:not(.dark)::-webkit-scrollbar-track{
  background:var(--main-background);
}



.post-content a:hover{

  decorations:none!important;
}

/* Underline styles - details of technique here: https://nickymeuleman.netlify.app/blog/css-animated-wrapping-underline */
.post-content a {
  background:
    linear-gradient(to right, var(--primary), var(--primary)),
    linear-gradient(to right, var(--code-bg), var(--code-bg));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.post-content a:hover,
.post-content a:focus {
  background-size: 0 0.1em, 100% 0.1em;
}
.post-content a, .toc a:hover{
  box-shadow: unset;
}
