/* jetbrains-mono-regular - latin */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./fonts/jetbrains-mono-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/jetbrains-mono-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
font-display:swap;
}
/* jetbrains-mono-800 - latin */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 800;
  src: local(''),
       url('./fonts/jetbrains-mono-v6-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/jetbrains-mono-v6-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display:swap;
}

:root {

    --primary:#3c3836;
    --secondary:#504945;
    --tertiary:#a89984;
    --content:#3c3836;
    --hljs-bg:#98971a;
    --gap:1em;
    --main-width:*;
}
.first-entry {
    min-height:0px;
}
.main {
    margin:1em;
    max-width: 45em;
}
.post-title,
h1,
.entry-header{
font-family: 'JetBrains Mono', monospace;
font-weight: 800;
}
body {
font-family: 'JetBrains Mono', monospace;
font-weight: 400;
}
.nav {
    max-width:45em;
    margin-inline-start: unset;
    margin-inline-end: unset;
}
