:root {

    --primary:#3c3836;
    --secondary:#504945;
    --tertiary:#a89984;
    --content:#3c3836;
    --hljs-bg:#98971a;
    --gap:1em;
    --main-width:*;
}
.first-entry {
    min-height:0px;
}
.main {
    margin:1em;
}
.post-title,
h1,
.entry-header{
font-family: 'JetBrains Mono', monospace;
font-weight: 800;
}
body {
font-family: 'JetBrains Mono', monospace;
font-weight: 400;
}
.nav {
    max-width:10000px;
}
