<!DOCTYPE html>
<html>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com"
  crossorigin="">
  <link href=
  "https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400;700;800&amp;display=swap"
  rel="stylesheet">
  <title></title>
<script src="{{ "js/mathjax-config.js" | absURL }}"></script>

<script type="text/javascript"
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

</head>
<body>
</body>
</html>
